/* style.css */

/* General styles */
* {
    margin: 0px ;
    padding: 0;
  }
  
  body {
    text-align: center;
    margin-top: 50px;
    background: url('img.png') no-repeat center center fixed;
    background-size: cover;
  }
  
  .container {
    height: 70vh;
    display: flex;
  
    justify-content: center;
    align-items: center;
  }
  
  .game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
  }
  h1{
    color: #fff;
    font-size: 50px;
  }
  .box {
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
    font-size: 8vmin;
    color: #b0413e;
    background-color: #f3f3b4;
  }
  
  #reset-btn {
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #c58950;
    color: #fff;
    border-radius: 1rem;
    border: none;
    
  }
  
  #new-btn {
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #c58950;
    color: #fff;
    border-radius: 1rem;
    border: none;
  }
  
  #msg {
    color: #fdfdfb;
    font-size: 5vmin;
    margin-bottom:10px;
  }
  
  .msg-container {
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
    font-family: 'Poetsen One', sans-serif;
  }
  
  .hide {
    display: none;
  }
